html
  head
    title Timestamp microservice
  body
    div
      h1 Timestamp microservice
      blockquote User stories:
        ol
          li I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: April 1, 2017)
          li If it does, it returns both the Unix timestamp and the natural language form of that date.
          li If it does not contain a date or Unix timestamp, it returns null for those properties.
      h3 Example usage:
      a(href="/December%2015,%202015") https://...com/December%2015,%202015
      br
      a(href="/1450137600") https://...com/1450137600
      h3 Example output:
      code  { "unix": 1450137600, "natural": "December 15, 2015" }